.Icetea-soft{
    width: 355px;
    padding-left: 50px;
}
.Icetea-soft img{
margin-top: 50px;
position: absolute;
float: left;
left: 348px;
top: 100.14px;
width: 184.02px;
height: 51.26px;
}
.deilver-text{
color:#FFFFFF ;
margin-top: -23px;
position: absolute;
float: left;
left: 348px;
top: 250.14px;
font-size: 24px;
}
.deilver-text h3{
    font-weight: 129px;
    }

footer{
    background-color: #EA2323;
    height: 250px;
    width: auto;
    height: 750px;
}

